body {
    font-family: Arial, sans-serif;
    display:flex;
    text-align:center;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: #D3D3D3;
}

.display {
    background-color:white;
    border: solid black 2px;
    text-align:right;
    width:300px;
    height:100px;
    padding:20px;
    margin-bottom:30px;
    font-size:30px;
    border-radius:10px;
    overflow:hidden;
}

.calcBody {
    margin-top:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height: auto;
    width: 380px;
    padding: 25px;
    border: solid black 5px;
    border-radius: 30px;
    background-color:#99999999;
    box-shadow: 15px 15px;
}

.displayBody {
    background-color:skyblue;
    border: solid black 5px;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.lastEntry {
    font-size: 20px;
    padding-right: 10px;
    padding-bottom:-10px;
}

p {
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.button {
    display:flex;
    text-align:center;
    font-weight: bold;
    justify-content:center;
    height:20px;
    width:20px;
    padding: 20px;
    margin:15px;
    border: solid black 2px;
    border-radius:10px;
    background-color:white;
    box-shadow: 5px 5px;
}

.button2 {
    display:flex;
    text-align:center;
    justify-content:center;
    height:15px;
    font-weight: bold;
    width:100px;
    padding: 20px;
    margin:30px;
    border: solid black 2px;
    border-radius:10px;
    background-color: salmon;
    box-shadow: 5px 5px;
}

.button:hover {
    transform:translateY(1px);
    cursor:pointer;
}

.button2:hover {
    transform:translateY(1px);
    cursor:pointer;
}

.button:active {
    transform:translateY(5px);
    box-shadow: 0px 0px;
}

.button2:active {
    transform:translateY(5px);
    box-shadow: 0px 0px;
}

.row {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
}